/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#wrapper {
    width: 100%;
    height: 100vh;
    background-color: #e4e3dc;
}

.head-bg {
    height: 15%;
    min-height: 150px;
    background-color: #009688;
}

/* CONTATTI GENERALE */
.contacts {
    height: calc(100% - 46px - 75px);
    background-color: #fff;
    border-right: solid 1px #e3e3e3;
    overflow: auto;
}

.contatto {
    display: flex;
    align-items: center;
    padding: 2%;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-top: solid 1px #e9ebeb;
    border-bottom: solid 1px #e9ebeb;
    transition: background-color .3s;
}

.contatto:hover {
    cursor: pointer;
    background-color: #a0ede6;
}

.contatto.selected {
    background-color: #e9ebeb;
}

.user {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #f2f2f2;
    border-radius: 50%;
    overflow: hidden;
}

.user img {
    position: absolute;
    top: -10px;
    left: -18px;
}

.contatto .text {
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#contact-name {
    font-weight: bold;
    font-size: 18px;
}

.contatto .text .subtitle {
    font-size: 12px;
    color: #464444;
}

.contatto .time {
    align-self: center;
    margin-left: auto;
    margin-right: 2%;
    color: #464444;
    font-size: 12px;
}


/* APP-CONTAINER */
.app-container {
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
    width: 80%;
    height: 90%;
    overflow: hidden;
}

.app-container section header {
    height: 75px;
}

.app-container main {
    height: 90%;
}


/* CONTACTS */
.app-container .contacts-container {
    width: 30%;
    height: 100%;
}

.app-container .contacts-container header {
    border-right: solid 1px #ccc;
}

.app-container .contacts-container header,
.app-container .chat-container header {
    padding: 0 2%;
    display: flex;
    align-items: center;
    background-color: #eaeaea;
}


.app-container .contacts-container .tool,
.app-container .chat-container .tool {
    min-width: 100px;
    font-size: 24px;
    color: #a19b9b;
    text-align: right;
    margin-left: auto;
}

.tool i {
    padding: 5%;
    transition: all .3s;
}

.tool i:hover {
    cursor: pointer;
    color: #888484;
}

.app-container .contacts-container .notifications {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0 2%;
    background-color: #b1ddf1;
}

.app-container .contacts-container .notifications .bell {
    padding: 4%;
    color: #8edafc;
    border-radius: 50%;
    background-color: #fff;
}

.app-container .contacts-container .notifications .text {
    padding: 0 2%;
    font-size: 15px;
}

.app-container .contacts-container .notifications .text a {
    color: #464444;
}

.search-box {
    padding: 8px 2%;
    height: 46px;
    background-color: #f5f1f1;
}

.search {
    padding: 2%;
    text-align: center;
    background-color: #fff;
    color: #b7b9bb;
}

#search {
    width: calc(95% - 16px);
    border: none;
    padding-left: 5%;
    font-size: 12px;
}


/* CHAT */
.app-container .chat-container {
    width: 70%;
    height: 100%;
}

.app-container .chat-container header {
    background-color: #eaeaea;
}

.app-container .chat-container main {
    background: url('../img/background.png');
    height: calc(100% - 75px - 75px);
    overflow: auto;
}

.app-container .chat-container main .chat {
    display: none;
    flex-direction: column;
    padding: 3% 5%;
}

.app-container .chat-container main .bubble {
    position: relative;
    min-width: 20%;
    max-width: 50%;
    padding: 10px 15px 22px 15px;
    margin: 10px 0;
    border-radius: 10px;
    transition: all .8s;
}

.bubble.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.bubble.received {
    align-self: flex-start;
    background-color: #fff;
}

.app-container .chat-container main .bubble:hover {
    padding: 10px 30px 22px 15px;
    transition: all .3s;
}


.app-container .chat-container main .bubble small {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 11px;
    color: #898b8e;
}

.app-container .chat-container main .bubble .message-options {
    position: absolute;
    padding: 2px;
    opacity: 0;
    top: 9px;
    right: 8px;
    border-radius: 50%;
    transition: opacity .3s;
}

.app-container .chat-container main .bubble:hover .message-options {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.app-container .chat-container main .bubble .message-options:hover {
    cursor: pointer;
}

.app-container .chat-container main .bubble .message-dropdown {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;

    max-width: 175px;

    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;

    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
}

.app-container .chat-container main .bubble .message-dropdown span {
    display: block;
    white-space: nowrap;
    padding: 10px;
    transition: all .3s;
}

.app-container .chat-container main .bubble .message-dropdown span:hover {
    cursor: pointer;
    background-color: #a0ede6;
}


.chat-container footer {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #f3eeea;
    font-size: 22px;
    z-index: 9;
}

.app-container .chat-container footer .tool {
    text-align: center;
}

.chat-container footer .messaggio {
    flex-grow: 2;
}

.chat-container footer .messaggio input {
    padding: 0 3%;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

/* TEMPLATE */
.template {
    display: none;
}

.app-container .chat-container main .chat.selected {
    display: flex;
}
